$blue-color: rgb(8, 160, 236);
$pink-color: rgb(232, 124, 223);
$orange-color: rgb(246, 78, 6);
$white-color: white;
$mint-color: rgb(63, 218, 140);
$male-gradient: linear-gradient(rgb(8, 160, 236), rgb(232, 124, 223));
$female-gradient: linear-gradient(rgb(246, 78, 6), rgb(232, 124, 223));
$mint-gradient: linear-gradient(rgb(63, 218, 140), rgb(124, 232, 232));
$lite-pink: rgb(243, 226, 226);