.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	height:100vh ;
	background: #8ed6e8;
 }
 .userCard {
	
	display: flex;
	align-items: center;
	width: 60vh;
	min-width: 200px;
	max-width: 300px;
	flex: 1 1 auto;
	border-radius: 10px;
	
	text-align: center;
	box-shadow: 1px 6px 12px 0px rgb(2, 37, 46);;
 }
 
.photoContainer{
	width: 300px;
	height: 300px;
	border-radius:50px;
	background-color:(inLineStyle) ;
	
}
 


 
 
 .userPhoto {
	padding-top:12px;
	width: 280px;
	height: 280px;
	border-radius:50% ;
	
 }
 
 .boxcontener{
	padding: 0;
	background-color: #218098;
	height: 100px;

 }
 button {
	margin-left: auto;
 }
 .send-invite-btn {
	
	background-color: rgb(251, 80, 0);
	padding: 16px 15px;
	border-radius: 50%;
	font-size: 16px;
	color: #fff;
	width:50px ;
	height:50px ;
	border: 0;
	outline: none;
	box-shadow: 0 7px 10px rgba(251, 80, 0, 0.4);
	cursor: pointer;
	transition: all 0.1s ease-in-out;
 }
 
.send-invite-btn:hover {
	  background-color: rgb(255, 97, 24);
	}
 
	.send-invite-btn:active {
	  transform: translateY(2px);
	  box-shadow: none;
	}

 
