@import '../../common/styles/templates';
@import '../../common/styles/vars';

.headWrap{
  width: 100%;
}

.title{
  width: 100%;
  margin-top: 30px;
  padding: 20px;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: $blue-color;
  text-shadow: 0 0 10px $blue-color;
}

.nav{
  @extend %flex-jc-sb;
  width: 100%;
  margin-top: 30px;
}

.btn{
  width: 200px;
  padding: 5px;
  font-size: 20px;
  border: 2px solid $pink-color;
  border-radius: 5px;
  background-color: $lite-pink;
  color: $pink-color;
  font-weight: 600;
}

.btn:hover{
  box-shadow: 0 0 4px 2px $pink-color;
}